<div class="home">
<h1 class="homewelcome">Welcome to Dogs & Ice Cream!!</h1>
<p class="homep">A place where you can adopt cute doggies and get ice cream on the way out!</p>
<button class="waves-effect grey darken-3 btn"><%= link_to  "Browse Here", dogs_path%></button>
</div>