<h1>The Dog Sanctuary</h1>
<% @dogs.each do |dog| %>
<h2><%= dog.breed%></h2>
<h2><%= dog.gender%></h2>
<h2><%= dog.price%></h2>
<%= link_to  "See our dogs", dog_path(dog)%>
<p>Calling all dog lovers! We are a company that rescues dogs from all over the country, and these fur babies would love to find a new home!.</br>Come check us out at The Dog Sanctuary</p>
<% end %>
