<h1>Ice Cream Heaven</h1>
<% @icecreams.each do |icecream| %>
<h2><%= icecream.flavor%></h2>
<h2><%= icecream.price%></h2>
<%= link_to  "See our delicious ice cream", icecream_path(icecream)%>
<p>This is icecream heaven, come check out all of our awesome flavors!</p>
<% end %>
