  <nav>
    <div class="nav-wrapper pink">
    <h1 class="brand-logo"><%= link_to  "Dogs & Ice Cream", root_path %></h1>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to  "Home", root_path %></li>
        <li><%= link_to  "Adopt a Dog", dogs_path %></li>
        <li><%= link_to 'Ice Cream Stop', icecreams_path%></li>
      </ul>
    </div>
  </nav>